:root {
  --primary-color: #365aff;
  --main-text-color: #fff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  --border-radius: 8px;
  --header-font: "Playfair Display", serif;
  --main-font: "Spline Sans Mono", monospace;
}

.main-bg {
  background: var(--primary-color);
  color: #fff;
  opacity: 0.7;
  margin: 50px 60px 10px 60px;
}

.nav-style {
  font-family: var(--header-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
}

.rose-hogarth-logo {
  transition: transform 150ms ease-in-out;
}

.rose-hogarth-logo:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.title-section-bg {
  background: red;
  color: #fff;
  opacity: 0.7;
  margin: 50px 60px 10px 60px;
}
